.tabsearch {
  text-align: center;
  width: auto;
  height: auto;
  padding: 2%;
  margin: 10%;
  justify-content: flex-start;
  display: block;
  background-color: #9bdd007e;
  border-bottom: 8px dashed rgba(91, 156, 16, 0.658);
}

input.download.form-control {
  margin-left: 10%;
  width: 250px !important;
}

.mainLoginInput::placeholder {
  font-family: "Kanit";
}

.col-lg-9.col-md-9.col-12 {
  padding-top: 5%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .tabsearch {
    padding-top: 10%;
    height: 400px;
    margin: 10%;
    font-size: 20px;
  }
  .col-lg-9.col-md-9.col-12 {
    padding-top: 0%;
    padding-left: 7%;
  }
  input.download.form-control {
    margin-left: 12%;
    height: 40px;
    width: 450px !important;
  }
}

@media only screen and (min-width: 930px) {
  input.download.form-control {
    margin-left: 12%;
    height: 40px;
    width: 500px !important;
  }
}

@media only screen and (min-width: 1000px) {
  input.download.form-control {
    margin-left: 15%;
    height: 40px;
    width: 500px !important;
  }
}
@media only screen and (min-width: 1004px) {
  input.download.form-control {
    margin-left: 25%;
    height: 40px;
    width: 500px !important;
  }
}
@media only screen and (min-width: 1350px) {
  input.download.form-control {
    margin-left: 25%;
    height: 40px;
    width: 500px !important;
  }
}
