.post_ {
  padding-left: 5%;
  padding-right: 5%;
}

.topName {
  width: 100%;
  border: 2px solid rgba(0, 0, 255, 0);
  border-block-end-color: rgba(21, 156, 16, 0.397);
}
.topName > h1 {
  padding-left: 10%;
}

form.post {
  width: 80%;
  padding-top: 5%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  color: rgb(19, 19, 19);
  background-color: rgba(255, 255, 255, 0.665);
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
  border: 8px dashed rgba(91, 156, 16, 0.658);
}
textarea.form-control,
.form-control,
.datepicker-input.ignore--click--outside {
  color: rgb(0, 0, 0) !important;
}
.require {
  color: #f3565d;
}

form.post > h3 {
  text-align: center;
  padding-bottom: 5%;
}

.datepicker-input {
  padding: 10px 10px 6px 10px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #66615b;
  line-height: normal;
  font-size: 14px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
}

.datepicker-input.ignore--click--outside {
  padding: 10px 10px 6px 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  color: #66615b;
  line-height: normal;
  font-size: 14px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
}

textarea.form-control {
  max-height: 100% !important;
}
