html,
body {
  background-color: #f4f3ef;
  height: 100%;
}

body {
  margin-top: 29%;
}

.navbar-absolute.fixed-top.navbar-transparent.navbar.navbar-expand-lg.bg-transparent {
  position: relative;
  color: rgb(90, 95, 88) !important;
}
input[type="date"] {
  height: 39px !important;
}

.success {
  margin-left: 10%;
  margin-top: auto;
  width: 80%;
  z-index: 0;
  border: 8px dashed rgba(91, 156, 16, 0.658);
}
.text_success {
  text-align: center;
  margin-top: -80px;
  margin-left: auto;
  font-size: 10px;
  z-index: 999;
}
.payment {
  font-size: auto;
  padding-top: 70px;
  padding-bottom: 10px;
  margin: 10%;
}
h1.payment {
  border-bottom: 2px solid rgba(91, 156, 16, 0.658);
}

h3.payment {
  margin-top: -8% !important;
  margin-left: auto;
  margin: 10%;
}
.form-check .form-check-label {
  padding-left: 0px !important;
}
div.Spinner-download {
  margin-left: -80px;
  font-size: 25px;
  color: rgba(91, 156, 16, 0.658);
}
.Spinner-download.spinner-border.text-success {
  width: 5rem !important;
  height: 5rem !important;
  color: rgba(91, 156, 16, 0.658) !important;
  border: 0.5em solid currentColor;
  border-right-color: transparent;
}

.credittext {
  margin-left: 5% !important;
  width: 150px !important;
}

.file-head {
  margin-left: 15%;
}

.text-head {
  font-size: 12px;
  margin-left: 15%;
  color: rgba(58, 58, 58, 0.541);
}

.file-drag {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 2%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  border: 0.1em dashed rgb(68, 124, 5);
}
.preview {
  margin-left: 15%;
  margin-right: 15%;
}

.edittext {
  padding: 5%;
  margin-left: 5%;
  margin-right: 5% !important;
  background-color: rgba(169, 169, 169, 0.315);
}

.previewFile {
  margin-left: 20%;
}

.texthead {
  margin-right: 20%;
  margin-left: 20%;
}

.file-bt {
  margin-right: 20%;
  margin-left: 20%;
}
.file-dragedit {
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  border: 0.1em dashed rgb(68, 124, 5);
}

button.step-trigger:hover {
  color: rgb(22, 22, 22) !important;
}

button.step-trigger {
  color: rgb(0, 0, 0) !important;
}

button.step-trigger:focus {
  color: rgba(46, 46, 46, 0.808) !important;
}

.react-datepicker__input-container > input {
  padding: 2% !important;
}

.form-date {
  margin-top: 10%;
  margin-bottom: 50%;
}

.form-date {
  text-align: center;
}

.uploadead {
  margin-left: 1%;
  padding-right: -50%;
}

.uploadead1:hover {
  border: 0.2em dashed rgb(75, 75, 75);
}

.uploadnews {
  margin-left: -30%;
  padding-right: 22%;
}

button.react-datepicker__close-icon {
  margin-right: 40%;
}

@media only screen and (min-width: 321px) {
  body {
    margin-top: 96px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 112px;
  }
  .text_success {
    text-align: center;
    margin-top: -100px;
    margin-left: auto;
    font-size: 20px;
    z-index: 1;
  }
  .payment {
    padding-top: 1px;
    margin: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin-top: 127px;
  }
  h3.payment {
    margin-top: -8% !important;
    margin-left: 38% !important;
    margin: 10%;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    margin-top: 140px;
  }
}

@media only screen and (min-width: 1640px) {
  body {
    margin-top: 201px;
  }
}

@media only screen and (min-width: 1910px) {
  body {
    margin-top: 220px;
  }
}

@media only screen and (min-width: 2300px) {
  body {
    margin-top: 249px;
  }
}

@media only screen and (min-width: 1000px) {
  .text_success {
    text-align: center;
    margin-top: -100px;
    margin-left: auto;
    font-size: 20px;
    z-index: 1;
  }
}
@media only screen and (min-width: 1005px) {
  .text_success {
    text-align: center;
    margin-top: -200px;
    margin-left: auto;
    font-size: 25px;
    z-index: 1;
  }
}
