html,
body {
  background-color: rgb(245, 245, 245);
}
body {
  margin-top: 29%;
}

@media only screen and (min-width: 321px) {
  body {
    margin-top: 96px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 112px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin-top: 127px;
  }
}

@media only screen and (min-width: 1366px) {
  body {
    margin-top: 140px;
  }
}

@media only screen and (min-width: 1640px) {
  body {
    margin-top: 201px;
  }
}

@media only screen and (min-width: 1910px) {
  body {
    margin-top: 220px;
  }
}

@media only screen and (min-width: 2300px) {
  body {
    margin-top: 249px;
  }
}
